
build/
scripts/

build-*/
cmake-build-*/

*.uf2
*.elf
*.bin
*.hex
*.map
*.dis

CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
compile_commands.json

.vscode/

*.o
*.a
*.d
*~
.DS_Store
.clangd
